{
    "destination": "C:\\Users\\heads\\OneDrive\\Documents\\Arma 3 - Other Profiles\\Head\\mpmissions\\addons",
    "islands": [
        "Altis",
        "Stratis",
        "Malden",
        "Tanoa",
        "Enoch",
        "Takistan",
        "tem_anizay",
        "fallujah",
        "fapovo",
        "lythium",
        "tem_kujari",
        "cup_chernarus_A3",
        "gm_weferlingen_summer",
        "gm_weferlingen_winter",
        "tem_chamw",
        "tem_cham",
        "oski_ire"
    ]
}